<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.eseo.dis.godetgui.somanagerapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ConnectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProjectsJMActivity" />
        <activity android:name=".JurysJMActivity" />
        <activity android:name=".DetailsProjectsJMActivity" />
        <activity android:name=".DetailsProjectTutorJM" />
        <activity android:name=".CommAllProjectsActivity" />
        <activity android:name=".NoteProjectActivity" />
        <activity android:name=".DetailsProjectsCommActivity" />
        <activity android:name=".PosterActivity" />
        <activity android:name=".VisitorProjectsActivity"></activity>
    </application>

</manifest>